Lenguaje de marcas/Segundo Trimestre - XML/Ejercicios/DTD/Nobel/ganadores.dtd

<!ELEMENT ganadores (nobel+)>
<!ELEMENT nobel (ganador+, area, anio?, descripcion)>
<!ELEMENT ganador (nombre, nacionalidad*, profesion?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT profesion (#PCDATA)>
<!ELEMENT area (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>

<!ATTLIST nobel id ID #REQUIRED>